<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div style="text-align:center">
    <h1>WELCOME !</h1>
    <img
      width="300"
      alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
    />
  </div>

  <div class="example-container">
    <mat-form-field>
      <input
        type="number"
        matInput
        placeholder="몇번까지 있나요?"
        [(ngModel)]="maxNumber"
        (ngModelChange)="checkButtonStatus()"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        type="number"
        matInput
        placeholder="몇 개의 조로 나누고 싶나요?"
        [(ngModel)]="numberOfGroup"
        (ngModelChange)="checkButtonStatus()"
      />
      <!-- <input
            type="number"
            matInput
            placeholder="한 조에 몇명을 배치하고 싶나요?"
            [(ngModel)]="numberPerGroup"
            (ngModelChange)="checkButtonStatus()"
          /> -->
    </mat-form-field>
    <button
      mat-flat-button
      color="primary"
      (click)="divide()"
      [disabled]="disableButton"
    >
      배치
    </button>

    <br />
    <br />
    <br />

    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile *ngFor="let group of results; let i = index">
        <h5>{{ i + 1 }} 조 ( {{ group.length }} 명)</h5>
        <mat-list dense role="list" *ngFor="let number of group">
          <mat-list-item role="listitem">{{ number }} 번</mat-list-item>
        </mat-list>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>

<router-outlet></router-outlet>
