.container {
  width: 90%;
  margin: auto;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container>* {
  width: 100%;
}

mat-grid-tile {
  background: rgb(47, 199, 250);
}